html,
body {
	padding: 0;
	margin: 0;
	color: #333;
	/*font: sans-serif;*/
  font-family: roboto;
}

body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
  height: 100%;
}

/*
===============================================
HEADER START
===============================================
*/

#cover{
	background: no-repeat;
	background-size: cover;
	background-position: center;
  color: #FEF9E7;
  text-align: center;
  height: 250px;
}
#cover .image{
  width: 100%;
	height: 100%;
  object-fit: cover;
}

#cover h1{
	position: relative;
  top: -5em;
}

#cover #cover-caption .container .col-sm-12 .btn{
	position: absolute;
	top: -6rem;
	color: whitesmoke;
	border-color: antiquewhite;
	text-align: center;
  height: 30px;
  width: 30px;
  border-radius: 8px;
}

#cover #cover-caption .container .col-sm-12 .btn:hover {
  background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
}


/*
===============================================
HEADER END
===============================================
*/

/*
===============================================
SOCIAL SITES START
===============================================
*/

#sticky-social {
  position: absolute;
  top: 14.1em;
  z-index: 1;
}

#sticky-social .social {
  width: 200px;
  height: 220px;
  position: fixed;
  margin-top: 13px;
  padding: 0;
  perspective: 1000px;
  list-style-type: none;
}

#sticky-social .social li a {
  display: block;
  height: 40px;
  width: 40px;
  background: #222;
  border-bottom: 1px solid #333;
  font: normal normal normal 16px/20px 'FontAwesome', 'Source Sans Pro', Helvetica, Arial, sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  transition: background .5s ease .300ms;
}

#sticky-social .social li:first-child a:hover { 
  background: #3b5998;
}
#sticky-social .social li:nth-child(2) a:hover { 
  background: #00aced;
}
#sticky-social .social li:nth-child(3) a:hover { 
background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
#sticky-social .social li:nth-child(4) a:hover { 
  background: #4875B4;
}
#sticky-social .social li:nth-child(5) a:hover { 
  background: #dd4b39;
}

#sticky-social .social li:first-child a { 
  border-radius: 0 5px 0 0;
}
#sticky-social .social li:last-child a { 
  border-radius: 0 0 5px 0;
}
    
#sticky-social .social li a span {
  width: 100px;
  float: left;
  text-align: center;
  background: #222;
  color: #fff;
  margin: -25px 74px;
  padding: 8px;
  transform-origin: 0;
  visibility: hidden;
  opacity: 0;
  transform: rotateY(45deg);
  border-radius: 5px;
  transition: all .5s ease .300ms;
}

#sticky-social .social li span:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: -20px;
  top: 7px;
  border-left: 10px solid transparent;
  border-right: 10px solid #222;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
}

#sticky-social .social li a:hover span {
  visibility: visible;
  opacity: 1;
  transform: rotateY(0);
}


/*
===============================================
SOCIAL SITES END
===============================================
*/





/*
===============================================
APIE MUS START
===============================================
*/

/*#feature-one .container .feature-row .feature-content .col-lg-6,
#feature-one .container .feature-row .feature-content .col-lg-5 {
	display: inline-block;
}
*/

#contacts .container h3,
.services .container h3,
#multi-gallery .container h3,
#feature-one .container .feature-row h3{
	text-transform: uppercase;
	/*margin: 0 auto;*/
}

#multi-gallery .container .section {
	padding-bottom: 2rem;
}

/*#feature-one{
  background:url(http://localhost/gimnastikos-centras/wp-content/themes/gymnasticstheme/pictures/rhythm.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; 
  background-attachment: fixed;
  height:600px;
  z-index: -1;
}*/


#feature-one .container .feature-row .feature-content {
	padding: 5rem 0;
	/*overflow: hidden;*/
}

#feature-one .container .feature-row {
	margin-bottom: 1rem;
}

#feature-one .container .feature-row a {
	margin: 0 auto;
}

#contacts .container h3,
#multi-gallery .container h3,
#feature-one .container .feature-row h3 {
  margin: 0 .2em;
}


/*
===============================================
APIE MUS END
===============================================
*/





/*
===============================================
PAGRINDINIO PSL GALERIJA START
===============================================
*/

#multi-gallery {
  background:url(http://localhost/gimnastikos-centras/wp-content/themes/gymnasticstheme/pictures/gymnast.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 7%;
  background-repeat: no-repeat; 
  background-attachment: fixed;
  /*height:600px;*/
  z-index: -1;
}


/*Grid row cards START*/
#multi-gallery .container .col-md-12 .col-md-6 {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

#multi-gallery .container a {
  text-decoration: none;
}


#multi-gallery .container .to-gallery {
  cursor: pointer;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2); */
  box-shadow: 0 0 20px #eee;
  border-radius: 50px;
  display: block;
  background-image: linear-gradient(to right, #16A085 0%, #F4D03F 51%, #16A085 100%);
}

#multi-gallery .container .to-gallery:hover { 
  background-position: right center; 
}

#multi-gallery .container .gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%; }
#multi-gallery .container .gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; }
#multi-gallery .container .gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

@media (max-width: 450px) {
    #multi-gallery .container .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}

@media (max-width: 400px) {
    .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
}

@media (min-width: 768px){
	.col-md-12 {
	    -ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width: 100%;
	    margin: 0 -1em;
	}
}


.pics-gallery {
	height: 400px;
}

/*#gallery .pics {
  overflow: hidden;
  width: 100%;
  height: auto;
}*/


/* turns off image flickering
 -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    transform: translateZ(0);*/


/*#gallery .pics .img-fluid {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

  /*-webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    transform: translateZ(0);
}

#gallery .pics .img-fluid::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#gallery .pics .img-fluid:hover {
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
}

#gallery .pics .img-fluid:hover::after {
    opacity: 1;
}*/


#gallery .row {
  display: flex;
}

#gallery .row .image {
  margin: 1em;
}

#gallery .row a img {
  transition: 0.5s all;
  width: 100%;
  height: 150px;
  object-fit: cover;
  padding: .25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  max-width: 100%;
}  

#gallery .row a img:hover {
  transform: scale(1.1);
}



#video-carousel-example .carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: .25em;
}


/*page-main.php*/


/*page-gallery.php*/
#picture-gallery .container .row .row  .thumb .thumbnail .img-thumbnail {
  max-height: 175px;
  width: 100%;
  transition: all .2s ease-in-out;
}



#picture-gallery .container .row .row .thumb .thumbnail .img-thumbnail:hover { 
  transform: scale(1.1); 
}
/*page-gallery.php*/

/*
===============================================
PAGRINDINIO PSL GALERIJA END
===============================================
*/





/*
===============================================
KONTAKTAI START
===============================================
*/

/*GOOGLE MAPS START*/
/*google apis zemelapio stiliai yra toj pacioj svetainej*/
#map {
	/* Always set the map height explicitly to define the size of the div 
	 element that contains the map. */
	position: relative;
	/*overflow: hidden;*/
	height: 20em;
  width: 22em;
	top: 1em;
	 /*Optional: Makes the sample page fill the window. */
	margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
	padding: 0;
}
/*GOOGLE MAPS END*/

/*#contacts{
  background:url(http://localhost/gimnastikos-centras/wp-content/themes/gymnasticstheme/pictures/gymnast.jpg) no-repeat;
  background-size: cover;
  background-position: center center; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
  height:600px;
  z-index: -1;
}*/

#contacts .container .row .col-lg-7 .list-unstyled .block img {
  max-width: 100%;
  max-height: 30em;
  margin: 2.5em auto;
  border-radius: .25em;
}

/*
===============================================
KONTAKTAI END
===============================================
*/



/*
===============================================
CONTACT-BAR START
===============================================
*/


#contact-bar .body {
  /*background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);*/
  background: linear-gradient(rgba(155, 138, 167, 0), #d299c252, #d299c2);
  text-align: center;
  padding: 5em 0;
}

#contact-bar .body i {
  margin: 0 1em;
}

#contact-bar .body .button1 {
  text-decoration: none;
  color: #000000;
  background-color: transparent;
  text-transform: uppercase;
}

#contact-bar .body .button1:hover {
  color: rgba(0,0,0,.5);
}

#contact-bar .body .modal .modal-dialog .modal-content {
  box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 0.2);
  /*background: linear-gradient(#8CA6DB, #B993D6);*/
  background: linear-gradient(#8CA6DB, #c36ff88f);
  opacity: 0.85;
  border-color: #fff;
}

#contact-bar .body .modal .modal-dialog .modal-content .modal-header .close{
  color: #fff;
}

#contact-bar .body .modal .modal-dialog .modal-content .modal-body {
  font-family: roboto;
  text-transform: uppercase;
}

/*button style*/
#contact-bar .body .modal .modal-dialog .modal-content .modal-body .wpcf7-submit {
    cursor: pointer;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.65);
    border-radius: 25px;
    color: rgba(255, 255, 255, 0.65);
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    font-size: 19px;
    font-size: 1.2rem;
    font-family: roboto;
    font-weight: 300;
    line-height: 2.5em;
    margin-top: auto;
    margin-bottom: 25px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    width: 90%;
    text-transform: uppercase;
} 

#contact-bar .body .modal .modal-dialog .modal-content .modal-body .wpcf7-form-control:hover{
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
/*button style*/


/*form style*/
#contact-bar .body .modal .modal-dialog .modal-content .modal-body .wpcf7-form-control{
  background: none;
  margin-bottom: 10px;
  line-height: 2.4em;
  color: #fff;
  font-family: roboto;
  font-weight: 300;
  letter-spacing: 0px;
  letter-spacing: 0.02rem;
  font-size: 19px;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.65);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  width: 400px;
  border-radius: 7px;
}

#contact-bar .body .modal .modal-dialog .modal-content .modal-body #wpcf7-f38-o1 .wpcf7-form p{
  text-align: center;
  color: #fff;
}

#contact-bar .body .modal .modal-dialog .modal-content .modal-body #wpcf7-f38-o1 .wpcf7-form .wpcf7-response-output {
  margin: 1.5em 0.5em 1em;
  z-index: 1;
}

#contact-bar .body .modal .modal-dialog .modal-content .modal-body #wpcf7-f38-o1 .wpcf7-form p:nth-child(5){ 
  margin: 0 0 0 1em;
}

#contact-bar .body .modal .modal-dialog .modal-content .modal-body #wpcf7-f38-o1 .wpcf7-form p label{
  color: #fff;
  text-align: left;
  margin: 0;
  padding: 0;
}

.wpcf7-form-control-wrap input {
    border: none;
    border-radius: 7px;
}

#wpcf7-f38-o1 .wpcf7-form .wpcf7-textarea{
  height: 200px;
}

/*
===============================================
CONTACT-BAR END
===============================================
*/





/*
===============================================
FOOTER START
===============================================
*/
#footer-main {
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
  background-blend-mode: multiply;
	color: white;
	font-size: 0.8rem;
	padding: 2.5rem 0 0;
}
@media only screen and (min-width: 768px){
    .arrow-up {
    position: relative;
    left: 95rem;
    bottom: -16rem;
  }

  .arrow-up .btn{
    color: whitesmoke;
    border-color: antiquewhite;
    height: 30px;
    width: 30px;
    border-radius: 8px;
    
  }

  .arrow-up .btn:hover{
    background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
  }
}



/*
===============================================
FOOTER END
===============================================
*/




/*
===============================================
gallery.html, page-gallery.php galerija START
===============================================
*/

.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer {
  display: block;
}

.thumb {
  margin-top: 15px;
  margin-bottom: 15px;
}

#image-gallery-image {
	margin-left: 0;
}

#image-gallery .modal-dialog .modal-content {
  top: 7em;
}

#image-gallery .modal-dialog .modal-content .modal-body {
  padding: 0;
}

#image-gallery .modal-dialog .modal-content .modal-body img {
  max-height: 30em;
  padding: 0;
}

#image-gallery .modal-dialog .modal-content .modal-body .close {
  position: absolute;
  z-index: 1;
  color: #fff;
  top: 1.5em;
  left: 30em;
  border: 1px solid #ccc;
  width: 25px;
  border-radius: .25rem;
}

/*
===============================================
gallery.html galerija END
===============================================
*/


/*
===============================================
events.html galerija START
===============================================
*/

#events {
	margin-bottom: 2rem;
}



/*
===============================================
gallery.html galerija END
===============================================
*/

/*
===============================================
page-events.php
===============================================
*/

#events .container {
  display: flex;
}

#events .container .col-lg-8,
#events .container .col-lg-4{
  display: inline-block;
}

#events .container .col-lg-4 .search-form-container {
  margin: 1em 0;
}




/*header.php navbar item turn off*/
/*.isjungtas{
  display: none;
}*/