html,
body {
  width: 100%;
  height: 100%;
	padding: 0;
	margin: 0;
	color: #333;
	/*font: sans-serif;*/
  font-family: roboto;
  -webkit-font-smoothing: antialiased;
}

body {
  width: 100%;
  height: 100%;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #b3b3b3;
  outline: 1px solid #cccccc;
}

/*
===============================================
header.php NAVBAR START
===============================================
*/

.navbar #gymnasticsNavbar .nav {
  font-size: 17px;
  text-transform: uppercase;
}

/*NAVBAR EFFEXT ON HOVER START*/

#gymnasticsNavbar {
  display: flex;
}

#gymnasticsNavbar #menu-gimnastikos-menu { 
  display: flex;
  flex-direction: row;
}


@media (max-width: 768px) {
  #gymnasticsNavbar #menu-gimnastikos-menu {
    flex-direction: row;
  }
    }
/*
@media (max-width: 768px) {
    #menu-gimnastikos-menu > li:not(:last-child) {
      margin-right: 40px;
    }
  }*/

#gymnasticsNavbar #menu-gimnastikos-menu .nav-item1 {
  padding: 0 .5em;
}

#gymnasticsNavbar #menu-gimnastikos-menu .nav-item1 a {
  position: relative;
  display: inline-block;
  font-size: 20px;
  font-weight: 300;
  color: #666;
  transition: color .2s ease;
  padding: 3px 0;
  margin-bottom: 5px;
  text-decoration: none;
}

#gymnasticsNavbar #menu-gimnastikos-menu .nav-item1 a:hover {
  color: #aaa;
}

#gymnasticsNavbar #menu-gimnastikos-menu .nav-item1 a:hover::after,
#gymnasticsNavbar #menu-gimnastikos-menu .nav-item1 a:hover::before {
  width: 100%;
  left: 0;
}

#gymnasticsNavbar #menu-gimnastikos-menu .nav-item1 a::after,
#gymnasticsNavbar #menu-gimnastikos-menu .nav-item1 a::before {
  content: ''; 
  position: absolute;
  top: calc(100% + 5px);
  width: 0;
  right: 0;
  height: 3px;
}

#gymnasticsNavbar #menu-gimnastikos-menu .nav-item1 a::before {
  transition: width .4s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
  background: #2196f3;
}

#gymnasticsNavbar #menu-gimnastikos-menu .nav-item1 a::after {
  transition: width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
  background: #F44336;
}
/*header.php NAVBAR EFFEXT ON HOVER END*/




/*header.php navbar item turn off*/
/*.isjungtas{
  display: none;
}*/

/*
===============================================
SWIPER SLIDER START
===============================================
*/
#cover {
  background: no-repeat;
  background-size: cover;
  background-position: center;
  color: #FEF9E7;
  text-align: center;
  /*height: 259px;*/
  height: 87%;
  margin-bottom: -4em;
}

#cover .swiper-container {
  margin: 0;
  width: 100%;
  height: 100%;
  max-height: 600px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

#cover .swiper-container h1 {
  text-transform: uppercase;
  position: relative;
  top: 2em;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
}

#cover .swiper-container #cover1 {
  background:url(http://localhost/gimnastikos-centras/wp-content/themes/gymnasticstheme/pictures/silhouette2.jpg) no-repeat;
  width: 100%;
  max-height: 570px;
  object-fit: cover;
}

#cover .swiper-container #cover2 {
  background:url(http://localhost/gimnastikos-centras/wp-content/themes/gymnasticstheme/pictures/rhythm.jpg) no-repeat;
  background-position: center;
  width: 100%;
  max-height: 570px;
  object-fit: cover;
}

#cover .swiper-container #cover3 {
  background:url(http://localhost/gimnastikos-centras/wp-content/themes/gymnasticstheme/pictures/silhouette2.jpg) no-repeat;
  width: 100%;
  max-height: 570px;
  object-fit: cover;
}

#cover .swiper-container #cover4 {
  background:url(http://localhost/gimnastikos-centras/wp-content/themes/gymnasticstheme/pictures/silhouette2.jpg) no-repeat;
  width: 100%;
  max-height: 570px;
  object-fit: cover;
}

#cover .swiper-container #cover5 {
  background:url(http://localhost/gimnastikos-centras/wp-content/themes/gymnasticstheme/pictures/silhouette2.jpg) no-repeat;
  width: 100%;
  max-height: 570px;
  object-fit: cover;
}

#cover .swiper-container .swiper-button-prev {
  left: 200px;
  background-color: #fff;
  border: 1px solid #007bff;
  border-style: solid;
  height: 70px;
  width: 50px;
  opacity: 0.2;
}

#cover .swiper-container .swiper-button-next {
  right: 200px;
  background-color: #fff;
  border: 1px solid #007bff;
  border-style: solid;
  height: 70px;
  width: 50px;
  opacity: 0.2;
}

#cover .swiper-container .swiper-button-next:hover,
#cover .swiper-container .swiper-button-prev:hover {
  background-color: #a5f3ff;
}

#cover #cover-caption .container .col-sm-12 .btn {
	position: absolute;
  top: -7rem;
  right: -11rem;
  color: whitesmoke;
  border-color: antiquewhite;
  text-align: center;
  height: 30px;
  width: 30px;
  border-radius: 8px;
  z-index: 1;
}

#cover #cover-caption .container .col-sm-12 .btn:hover {
  background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
}
/*
===============================================
SWIPER SLIDER END
===============================================
*/


/*
===============================================
SOCIAL SITES START
===============================================
*/
#sticky-social {
  position: absolute;
  top: 14.1em;
  z-index: 1;
}

#sticky-social .social {
  width: 200px;
  height: 220px;
  position: fixed;
  margin-top: 26px;
  padding: 0;
  perspective: 1000px;
  list-style-type: none;
}

#sticky-social .social li a {
  display: block;
  height: 40px;
  width: 40px;
  background: #222;
  border-bottom: 1px solid #333;
  font: normal normal normal 16px/20px 'FontAwesome', 'Source Sans Pro', Helvetica, Arial, sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  transition: background .5s ease .300ms;
}

#sticky-social .social li:first-child a:hover { 
  background: #3b5998;
}

#sticky-social .social li:nth-child(2) a:hover { 
  background: #00aced;
}

#sticky-social .social li:nth-child(3) a:hover { 
background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

#sticky-social .social li:nth-child(4) a:hover { 
  background: #4875B4;
}

#sticky-social .social li:nth-child(5) a:hover { 
  background: #dd4b39;
}

#sticky-social .social li:first-child a { 
  border-radius: 0 5px 0 0;
}
#sticky-social .social li:last-child a { 
  border-radius: 0 0 5px 0;
}
    
#sticky-social .social li a span {
  width: 100px;
  float: left;
  text-align: center;
  background: #222;
  color: #fff;
  margin: -25px 74px;
  padding: 8px;
  transform-origin: 0;
  visibility: hidden;
  opacity: 0;
  transform: rotateY(45deg);
  border-radius: 5px;
  transition: all .5s ease .300ms;
}

#sticky-social .social li span:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: -20px;
  top: 7px;
  border-left: 10px solid transparent;
  border-right: 10px solid #222;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
}

#sticky-social .social li a:hover span {
  visibility: visible;
  opacity: 1;
  transform: rotateY(0);
}
/*
===============================================
SOCIAL SITES END
===============================================
*/


/*
===============================================
APIE MUS START
===============================================
*/

/*#feature-one .container .feature-row .feature-content .col-lg-6,
#feature-one .container .feature-row .feature-content .col-lg-5 {
	display: inline-block;
}
*/
#contacts .container h3,
.services .container h3,
#multi-gallery .container h3,
#feature-one .container .feature-row h3{
	text-transform: uppercase;
	/*margin: 0 auto;*/
}

#multi-gallery .container .section {
	padding-bottom: 0rem;
}
#feature-one{
  background-color: #fff;
  margin-bottom: -1em;
}

#feature-one .container .feature-row {
	margin-bottom: 1rem;
}

#feature-one .container .feature-row a {
	margin: 0 auto;
}

#contacts .container h3,
#multi-gallery .container h3,
#feature-one .container .feature-row h3 {
  margin: 0 .4em;
}

#feature-one .container .feature-row .title {
  font-size: 3rem;
}

#feature-one .container .feature-row .feature-content {
  padding: 1rem ;
  /*overflow: hidden;*/
}

@media (min-width: 992px){
  #feature-one .container .feature-row .col-lg-5 {
    max-width: 49.666667%;
  }

  #feature-one .container .feature-row .feature-content .video-content {
    padding: 0;
    max-width: 48%;
    max-height: 45%;
    margin-left: 6em;
  }
}
/*
===============================================
APIE MUS END
===============================================
*/


/*
===============================================
PAGRINDINIO PSL GALERIJA START
===============================================
*/
#multi-gallery {
  background:url(http://localhost/gimnastikos-centras/wp-content/themes/gymnasticstheme/pictures/gymnast.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 7%;
  background-repeat: no-repeat; 
  background-attachment: fixed;
  /*height:600px;*/
  z-index: -1;
}

/*Grid row cards START*/
/*#multi-gallery .container .col-md-12 .col-md-6 {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}*/

#multi-gallery .container a {
  text-decoration: none;
}

#multi-gallery .container .title {
  color: rgba(0,0,0,0.7);
  font-size: 3rem;
}

#multi-gallery .container .section {
  padding-right: 0;
}

#multi-gallery .container .section .video-gallery {
  padding: 0;
  margin-right: 0;
}

#multi-gallery .container .to-gallery {
  cursor: pointer;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: .5s;
  background-size: 200% auto;
  color: #fff;
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2); */
  box-shadow: 0 0 20px #eee;
  border-radius: 50px;
  display: block;
  background-image: linear-gradient(to right, #16A085 0%, #F4D03F 51%, #16A085 100%);
}

#multi-gallery .container .to-gallery:hover { 
  background-position: right center; 
}

#multi-gallery .container .gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%; }
#multi-gallery .container .gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; }
#multi-gallery .container .gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

@media (max-width: 450px) {
    #multi-gallery .container .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}

@media (max-width: 400px) {
    .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
}

@media (min-width: 768px){
	.col-md-12 {
	    -ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width: 100%;
	    margin: 0 -1em;
	}
}

.pics-gallery {
	height: 400px;
}

/*#gallery .pics {
  overflow: hidden;
  width: 100%;
  height: auto;
}*/

/* turns off image flickering
 -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    transform: translateZ(0);*/

/*#gallery .pics .img-fluid {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

  /*-webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    transform: translateZ(0);
}

#gallery .pics .img-fluid::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#gallery .pics .img-fluid:hover {
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
}

#gallery .pics .img-fluid:hover::after {
    opacity: 1;
}*/

#gallery .row {
  display: flex;
}

#gallery .row .image {
  margin: 1em 2em 1em .8em;
}

#gallery .row a img {
  transition: .5s all;
  height: 150px;
  object-fit: cover;
  padding: .25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  max-width: 100%;
}  

#gallery .row a img:hover {
  transform: scale(1.1);
}

#video-carousel-example{
  background-color: #fff;
  padding: .25em;
  margin: 1em .4em 1em .4em;
  border-radius: .25em;
}

#video-carousel-example .carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#video-carousel-example .carousel-inner .carousel-item video {
  object-fit: cover;
  width: 100%;
  height: 400px;
}

#video-carousel-example .modal-body {
  padding: 0;
}

#video-carousel-example .modal-body .carousel-control-next .btn,
#video-carousel-example .modal-body .carousel-control-prev .btn {
  position: absolute;
  bottom: 11rem;
}

/*page-main.php*/


/*page-gallery.php*/
#picture-gallery{
  background-color: #fff;
}

#picture-gallery .container .row .row  .thumb .thumbnail .img-thumbnail {
  max-height: 175px;
  width: 100%;
  transition: all .2s ease-in-out;
}

#picture-gallery .container .row .row .thumb .thumbnail .img-thumbnail:hover { 
  transform: scale(1.1); 
}
/*page-gallery.php*/

/*
===============================================
PAGRINDINIO PSL GALERIJA END
===============================================
*/


/*
===============================================
KONTAKTAI START
===============================================
*/

/*GOOGLE MAPS START*/
/*google apis zemelapio stiliai yra toj pacioj svetainej*/
#map {
	/* Always set the map height explicitly to define the size of the div 
	 element that contains the map. */
	position: relative;
	/*overflow: hidden;*/
	height: 20em;
  width: 22em;
	top: 1em;
	 /*Optional: Makes the sample page fill the window. */
	margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
	padding: 0;
}
/*GOOGLE MAPS END*/

#contacts {
  background-color: #fff;
}

#contacts .container .row .col-lg-7 .list-unstyled .block img {
  max-width: 96.6%;
  max-height: 30em;
  margin: 2.5em auto;
  border-radius: .25em;
}

#contacts .container .row .col-lg-5 table {
  border: none;
  height: 310px;
  width: 450px;
  margin: 2em 1em;
  text-align: left;
  border: #fff;
}

#contacts .container .row .col-lg-5 table tbody tr td p {
  font-size: 1.25rem;
}

#contacts .container .title {
  font-size: 3rem;
}

/*
===============================================
KONTAKTAI END
===============================================
*/


/*
===============================================
CONTACT-BAR START
===============================================
*/

#contact-bar { 
  position: relative;
  background: #fff;
  margin-bottom: 392px;
  overflow: hidden;
}

#contact-bar .body {
  /*background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
  background: linear-gradient(rgba(155, 138, 167, 0), #d299c252, #d299c2);*/
  text-align: center;
  /*background: linear-gradient(rgba(155, 138, 167, 0), #d299c252, #d299c2);*/
  /*padding: 1em 0;*/
}

#contact-bar .body i {
  margin-right: 0.5em;
}

#contact-bar .body .contact-btn {
  background-color: #fff;
}

#contact-bar .body .contact-btn .button1{
  /*background: linear-gradient(rgba(155, 138, 167, 0), #d299c252, #d299c2);
  background-image: linear-gradient(to right, #16A085 0%, #F4D03F 51%, #16A085 100%);*/
  border: none;
  text-decoration: none;
  color: #3F3F3F;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 1.5em;
  border: 1px solid #777373;
  /* display: block; */
  cursor: pointer;
  margin: 0 auto;
  padding: 7px 17px;
  text-align: center;
  text-transform: uppercase;
  transition: .5s;
  background-size: 200% auto;
  color: #fff;
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2); */
  box-shadow: 0 0 20px #eee;
  border-radius: 50px;
  /* display: block; */
  background-image: linear-gradient(to right, #16A085 0%, #F4D03F 51%, #16A085 100%);
}

#contact-bar .body .contact-btn .button1:hover {
  /*color: rgba(0,0,0,.5);*/
  background-position: right center;
}

#contact-bar .body .contact-btn {
  cursor: default;
  border: none;
  padding: 2em 0;
  background: linear-gradient(rgba(155, 138, 167, 0), #d299c252, #d299c2);
}

#contact-bar .body a:hover{
  text-decoration: none;
}

#contact-bar .body .button1:focus {
  border: none !important;
  outline: none !important;
}

#contact-bar .body .modal .modal-dialog .modal-content {
  box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, .2);
  /*background: linear-gradient(#8CA6DB, #B993D6);*/
  background: linear-gradient(#8CA6DB, #c36ff88f);
  opacity: 0.85;
  border-color: #fff;
}

#contact-bar .body .modal .modal-dialog .modal-content .modal-header .close{
  color: #fff;
}

#contact-bar .body .modal .modal-dialog .modal-content .modal-body {
  font-family: roboto;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
}

/*button style*/
#contact-bar .body .modal .modal-dialog .modal-content .modal-body .wpcf7-submit {
    cursor: pointer;
    background: none;
    border: 1px solid rgba(255, 255, 255, .65);
    border-radius: 25px;
    color: rgba(255, 255, 255, .65);
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    font-size: 19px;
    font-size: 1.2rem;
    font-family: roboto;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    line-height: 2.5em;
    margin-top: auto;
    margin-bottom: 25px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    width: 90%;
    text-transform: uppercase;
} 

#contact-bar .body .modal .modal-dialog .modal-content .modal-body .wpcf7-form-control:hover{
  background: rgba(255, 255, 255, .15);
  color: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
/*button style*/

/*form style*/
#contact-bar .body .modal .modal-dialog .modal-content .modal-body .wpcf7-form-control{
  background: none;
  margin-bottom: 10px;
  line-height: 2.4em;
  color: #fff;
  font-family: roboto;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  letter-spacing: 0px;
  letter-spacing: .02rem;
  font-size: 19px;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, .65);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  width: 400px;
  border-radius: 7px;
}

#contact-bar .body .modal .modal-dialog .modal-content .modal-body #wpcf7-f38-o1 .wpcf7-form p{
  text-align: center;
  color: #fff;
}

#contact-bar .body .modal .modal-dialog .modal-content .modal-body #wpcf7-f38-o1 .wpcf7-form .wpcf7-response-output {
  margin: 1.5em .5em 1em;
  z-index: 1;
}

#contact-bar .body .modal .modal-dialog .modal-content .modal-body #wpcf7-f38-o1 .wpcf7-form p:nth-child(5){ 
  margin: 0 0 0 1em;
}

#contact-bar .body .modal .modal-dialog .modal-content .modal-body #wpcf7-f38-o1 .wpcf7-form p label{
  color: #fff;
  text-align: left;
  margin: 0;
  padding: 0;
}

.wpcf7-form-control-wrap input {
    border: none;
    border-radius: 7px;
}

#wpcf7-f38-o1 .wpcf7-form .wpcf7-textarea{
  height: 200px;
}
/*
===============================================
CONTACT-BAR END
===============================================
*/


/*
===============================================
FOOTER START
===============================================
*/
#footer-main {
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255, .40) 0%, rgba(0,0,0, .25) 200%);
  background-blend-mode: multiply;
	color: #fff;
	font-size: .8rem;
	padding: 2rem 0 0;
  overflow: hidden;

  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

@media only screen and (min-width: 768px){
    .col-sm-2 .arrow-up {
    position: absolute;
    left: 79rem;
    top: -16rem;
  }

  .arrow-up .btn {
    color: whitesmoke;
    border-color: antiquewhite;
    height: 30px;
    width: 30px;
    border-radius: 8px;
  }

  .arrow-up .btn:hover {
    background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
  }

   .solution .logo {
    position: absolute;
    bottom: -5em;
    left: 92em;
    opacity: 0.3;
    padding: 0;
    margin: 0;
  }

  #footer-main .container .row .solution .logo p {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  #footer-main .container .row .solution .logo p img {
    height: 70px;
    width: 70px;
  }
}

#footer-main .container {
  padding-left: 2.5em;
}

#footer-main .container #line-pulse {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  height: 1px;
  /*background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .75), rgba(0, 0, 0, 0));*/
  background-image: linear-gradient(to right, #16A085 0%, #F4D03F 51%, #16A085 100%);
  box-shadow: 0 0 20px #fff;
}

#footer-main .container .row .title {
  font-size:25px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
} 

#footer-main .container .row .col-sm-5 #logo img {
  width: 50%;
  margin-top: 4em;
}

#footer-main .container .row .col-sm-4 .list-unstyled li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

#footer-main .container .row .col-sm-4 .list-unstyled li a:hover {
  color: #ccb8b8;
}

#footer-main .container .row .col-sm-3 {
  padding-right: 2em;
}

#footer-main .container .row .col-sm-3 h3 {
  text-transform: uppercase;
}

#footer-main .container .col-lg-12 .rights {
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 20px;
  font-size: 16px;
}

#menu-footer-menu {
  font-size: 17px;
  text-transform: uppercase;
}

#menu-footer-menu .list-unstyled a {
  text-decoration: none;
  margin-right: 1em;
  color: #0f0f0f;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#menu-footer-menu .list-unstyled a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  /*box-shadow: 10px 15px 7px #C7C7C7;*/
  box-shadow: 0 0 20px rgba(33,33,33,.2);
}
/*
===============================================
FOOTER END
===============================================
*/


/*
===============================================
gallery.html, page-gallery.php galerija START
===============================================
*/
.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer {
  display: block;
}

.thumb {
  margin-top: 15px;
  margin-bottom: 15px;
}

#image-gallery-image {
	margin-left: 0;
}

#image-gallery .modal-dialog .modal-content {
  top: 7em;
}

#image-gallery .modal-dialog .modal-content .modal-body {
  padding: 0;
}

#image-gallery .modal-dialog .modal-content .modal-body img {
  max-height: 30em;
  padding: 0;
}

#image-gallery .modal-dialog .modal-content .modal-body .close {
  position: absolute;
  z-index: 1;
  color: #fff;
  top: 1.5em;
  left: 30em;
  border: 1px solid #ccc;
  width: 25px;
  border-radius: .25rem;
}

/*
===============================================
gallery.html galerija END
===============================================
*/


/*
===============================================
page-events.php START
===============================================
*/
#events {
  background-color: #fff;
}

@media (min-width: 992px){
  #events .container {
    display: flex;
  }

  #events .container .col-lg-8,
  #events .container .col-lg-4 {
    display: inline-block;
  }

  #events .container .col-lg-4 .join {
    text-align: center;
  }

  #events .container .col-lg-4 .btn:hover {
    background-position: right center;
  }

  #events .container .col-lg-4 .btn {
    display: flex;
    margin: 0 auto;
    cursor: pointer;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: .5s;
    background-size: 200% auto;
    color: #fff;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2); */
    box-shadow: 0 0 20px #eee;
    border-radius: 50px;
    display: block;
    background-image: linear-gradient(to right, #16A085 0%, #F4D03F 51%, #16A085 100%);
  }

  #events .container .col-lg-4 .search-form-container {
    margin: 1em 0;
  }

  #events .container .col-lg-8 ol {
    padding: 0;
  }
}

  #events .container .col-lg-8 ol .event-pic img {
    max-height: 165px;
    max-width: 40%;
    margin: 0 2em 0 0;

    background: #fff;
    padding: 4px;
    position: relative;
    content: "";
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    transform: rotate(1deg);

    box-shadow: 
      /* The top layer shadow */ 
      1px 1px 1px rgba(0,0,0,0.25), 
      /* The second layer 
      -6px -6px 0px 0px #D3D3D3, */ 
      /* The second layer shadow */
      1px 1px 1px rgba(0,0,0,0.15);
  }
/*
===============================================
page-events.php END
===============================================
*/


/*
===============================================
page-event-gallery.php START
===============================================
*/
#event-gallery{
  background-color: #fff;
  padding: 4em 0;
}

#event-gallery .container .slider{
  width: 640px;
  position: relative;
  padding-top: 320px; 
  margin: 100px auto;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}

#event-gallery .container .slider>img{
  position: absolute;
  left: 0; top: 0;
  transition: all 0.5s;
}

#event-gallery .container .slider input[name='slide_switch'] {
  display: none;
}

#event-gallery .container .slider label {
  margin: 18px 0 0 18px;
  border: 3px solid #999;
  
  float: left;
  transition: all 0.5s;
  
  /*Default style = low opacity*/
  opacity: 0.6;
}

#event-gallery .container .slider label img{
  display: block;
}

/*Time to add the click effects*/
#event-gallery .container .slider input[name='slide_switch']:checked+label {
  border-color: #666;
  opacity: 1;
}
/*Clicking any thumbnail now should change its opacity(style)*/
/*Main images*/
#event-gallery .container .slider input[name='slide_switch'] ~ img {
  opacity: 0;
  transform: scale(1.1);
}
/*That hides all main images at a 110% size
On click the images will be displayed at normal size to complete the effect
*/
#event-gallery .container .slider input[name='slide_switch']:checked+label+img {
  opacity: 1;
  transform: scale(1);
}

/*
===============================================
page-event-gallery.php END
===============================================
*/


/*
===============================================
page-trainer.php START
===============================================
*/
#trainers {
  background-color: #fff;
  margin-bottom: -1em;
}

#trainers .container #trainer-posts .event-pic2,
#trainers .container #trainer-posts .event-pic {
  padding-bottom: 1.5em;
  flex-wrap: nowrap;
  display: table;
  table-layout: fixed;
  width: 100%;
}

#trainers .container #trainer-posts .event-pic img {
  max-height: 230px;
  max-width: 270px;
  margin-right: 1em;
  border-radius: 50%;
}

#trainers .container #trainer-posts .event-pic p,
#trainers .container #trainer-posts .event-pic2 p{
  margin: 0;
  padding: 0;
}

#trainers .container #trainer-posts .event-pic2 img {
  max-height: 230px;
  max-width: 270px;
  margin-right: 1em;
  border-radius: 50%;
}
/*
#trainers .container #trainer-posts .event-pic .button,
#trainers .container #trainer-posts .event-pic2 .button {
  overflow-y: scroll;
}

#trainers .container #trainer-posts .event-pic .button::-webkit-scrollbar,
#trainers .container #trainer-posts .event-pic2 .button::-webkit-scrollbar { 
    display: none; 
}
*/

#text{
      display:none;
}

#trainers .container #trainer-posts .event-pic2 .button #text2 .btn-container{
  margin:auto;
  height:44px;
  width:166.23px;
}

#change{
  user-select:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  cursor:pointer;
  border:none;
  padding:8px;
  font-size:20px;
  background:linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  color:#000;
  font-family:cursive;
  box-sizing:border-box;
}

#change2{
  user-select:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  cursor:pointer;
  border:none;
  padding:8px;
  font-size:20px;
  background:linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  color:#000;
  font-family:cursive;
  box-sizing:border-box;
}
/*
===============================================
page-trainer.php END
===============================================
*/